RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://ai.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ai.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://checkhost.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://checkhost.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cp.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cp.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://exports.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://exports.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://headnotes.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://headnotes.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jagoan.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jagoan.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jurnal.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jurnal.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://node.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://node.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portal.robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portal.robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portal.sparepart-forklift.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portal.sparepart-forklift.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://robinjaya-com.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://robinjaya-com.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://service-request.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://service-request.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sfa.robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sfa.robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sfa.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sfa.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sparepart-forklift-com.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sparepart-forklift-com.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sparepart-forklift.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sparepart-forklift.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ai.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ai.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.checkhost.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.checkhost.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cp.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cp.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.exports.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.exports.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.headnotes.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.headnotes.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jagoan.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jagoan.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jurnal.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jurnal.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.node.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.node.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portal.robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portal.robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portal.sparepart-forklift.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portal.sparepart-forklift.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.robinjaya-com.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.robinjaya-com.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.service-request.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.service-request.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sfa.robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sfa.robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sfa.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sfa.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sparepart-forklift-com.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sparepart-forklift-com.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sparepart-forklift.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sparepart-forklift.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ai.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ai.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://checkhost.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://checkhost.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cp.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cp.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://exports.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://exports.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://headnotes.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://headnotes.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jagoan.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jagoan.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jurnal.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jurnal.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://node.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://node.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://portal.robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://portal.robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://portal.sparepart-forklift.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://portal.sparepart-forklift.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://robinjaya-com.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://robinjaya-com.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://service-request.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://service-request.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sfa.robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sfa.robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sfa.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sfa.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sparepart-forklift-com.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sparepart-forklift-com.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sparepart-forklift.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sparepart-forklift.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ai.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ai.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.checkhost.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.checkhost.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cp.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cp.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.exports.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.exports.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.headnotes.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.headnotes.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jagoan.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jagoan.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jurnal.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jurnal.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.node.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.node.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.portal.robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.portal.robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.portal.sparepart-forklift.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.portal.sparepart-forklift.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.robinjaya-com.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.robinjaya-com.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.service-request.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.service-request.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sfa.robinjaya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sfa.robinjaya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sfa.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sfa.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sparepart-forklift-com.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sparepart-forklift-com.toyomatsu.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sparepart-forklift.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sparepart-forklift.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.toyomatsu.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.toyomatsu.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [NC]

